* {
    font-family: 'Roboto';
}

.button {
    text-align: center;
}

body {
    min-height: 100vh;
    width: 100%;
    padding-bottom: 100px;
    position: relative;
}

.row {
    margin: 0;
}

.container-fluid {
padding: 0;
}

button:hover {
    opacity: 0.9;
}

div.collapse{
    padding-left:50px;
    padding-right:50px;
}

li.nav-item {
    padding-left:30px;
    padding-right:30px;
}

.msg {
    background-color: #D4EDDA;
    color: #155724;
    border: 1px solid #C3E6CB;
    width: 100%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 15px;
}

/*Navbar*/


#navbar-icon{
    margin-top: -60px;
}

#navbar-category{
    justify-content: space-between;
    padding: 5px 0;
    margin-top: -10px;
}

#navbar-category a {
    font-size: 30px;
    color: #000000;
}

#navbar-category a:hover {
    color: #757575;
}


/*Title Container*/
#title-container {
    background-size: cover;
    background-position: center;
    height: 60px;
    text-align: center;
}

#title-container h1 {
color: #000000;
margin-bottom: 10px;
font-weight: 400;
margin-top: 20px;
margin-bottom: 0;
font-style: italic;
}

#title-container form {
width: 450px;
margin: 0 auto;
padding-bottom: 0;
border-bottom: 0;
}

div.courses#title-container {
    color: #000000;
    width: 5%;
}

div.form-check {
    margin-top: 40%;
}

/*Botão add*/
.float{
	position:fixed;
	width:90px;
	height:90px;
	bottom:10%;
	right:5%;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

/*Ion-Icon*/
ion-icon.new-post {
    margin-top: 10px;
    margin-left: -1px;
    font-size: 70px;
}

ion-icon.menu {
    font-size: 50px;
    margin-left: 25px;
    color: #000000;
}

ion-icon.menu-collapse {
    font-size: 30px;
    color: #000000;
}

ion-icon.menu-icon {
    margin-top: 5px;
    margin-bottom: -5px;
    font-size: 35px;
}

ion-icon.post-filter {
    margin-top: 10px;
    font-size: 40px;
}


/* Posts list */
#posts-container {
  padding: 60px;
}

#cards-container {
    display: flex;
}

#posts-container .card {
  flex: 1 1 32%;
  max-width: 33.33%;
  border-radius: 10px;
  border: 1px solid #ffffff;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1336px) {
    #posts-container .card {
        min-width: 90%;
        border-radius: 10px;
        border: 1px solid #ffffff;
        padding: 0;
        margin: 0;
      }

}

#posts-container img {
  height: 120px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card .card-date {
  font-size: 12px;
  color: #353535;
}

.card .card-title {
  color: #212121;
  font-size: 20px;
  font-weight: bold;
}

.card-category {
  font-size: 14px;
  color: #353535;
}

/* Create Page */

#post-create-container {
    padding: 30px;
}

#post-create-container label {
    font-weight: bold;
}

#post-create-container input,
#post-create-container select,
#post-create-container textarea {
    font-size: 15px;
}

/* Post Show page */
#image-container,
#info-container {
  margin-top: 20px;
}
#image-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

#image-container img {
  border-radius: 10px;
  height: 250px;
  width: 380px;;
  justify-content: center;
}

#info-container h1 {
  font-size: 36px;
  font-weight: 900;
}

#info-container p {
  margin: 0;
  font-size: 16px;
  display: flex;
}

#info-container h3,
#content-container h3 {
  font-size: 20px;
  font-weight: bold;
}

#content-container p {
  text-indent: 40px;
}


#info-container ion-icon {
  font-size: 20px;
  color: #a30c0c;
  margin-right: 5px;
}

#info-container #event-submit {
  margin: 20px 0;
}

/*dropdown*/

#dropdown-menu li{
    font-size: 30px;
}

#dropdown-menu ion-icon{
    margin-bottom: -2px;
    color: #bd0d0d;
}
/* Edit page */

.img-preview {
    width: 200px;
    margin-top: 20px;
}

/* footer */
footer {
  text-align: center;
  background-color: #a30c0c;
  color: #FFF;
  padding: 15px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
}

footer p {
  margin-bottom: 0;
}
